// Import the theme
@import 'vanilla-framework';
@include vanilla;

// Optionally override some settings
$color-brand: #ffffff;

// Add theme if applicable

.p-card--highlighted {
    margin-top: 0rem;
    box-shadow: 0px 0px 2px 2px #e9e9e9;
    
    height: 91%;
}

.top-line {
    margin-top: 1.5rem;
    margin-bottom: 0rem;
    background-color: #b488a7;
    height: 4px;
    border-radius: 5px 5px 0px 0px;
}

.p-card__image {
    margin-top: 0.7rem;
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
    font-weight: 300;
    height: 25%;
}

.bottom-line {
    
    align-items: flex-end;
    
}